html, body {
    height: 100%;
    margin: 0;
}

#grid-container {
    display: flex;
    height: 1000px;
    width: 1000px;
}

#grid-row {
    display: flex;
}

.grid-square {
    display: flex;
    height: 10px;
    width: 10px;
    background-color: red;
    border: solid black 1px;
}